body {
  background-color: #9fadbf;
}

#logo-image {
  height: 56px;
}
#phil-image {
  height: 100px;
}

.collapsing {
  -webkit-transition: none;
  transition: none !important;
}

.my-image-bg {
  height: 900px;
  vertical-align: middle;
  background-image: url(../images/Duluth_7439.jpg) ;
  background-repeat: no-repeat ;
  background-position: 50% -200px ; /* Keep this */
  background-color: transparent ;
  background-size: cover;
  background-attachment: fixed;  /* Don't scroll with the page */
}
.transparent-container {
  background: transparent;
}
.space-for-navbar {
  height: 82px;
}
.temp-filler-div {
  height: 300px;
  background: transparent;
}
ul#footer-list li {
  display:inline;
}
.my-link:link, a:visited {
  display: inline-block;
  color: white;
  font-style: italic;
}
.examples-div {
  background-color: #9fadbf;
}
.contact-info, .sales-pitch {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Resonsive Design */
.my-nav-text {
  font-size: 1.0rem;
  margin-right: 1.0rem;
}
.my-page-container {
  margin-left: 1.0rem;
  margin-right: 1.0rem;
}

@media screen and (max-height: 750px) {
  .my-image-bg {
    background-position: 50% -70px ; /* Keep this */
    height: 550px;
  }
}

@media screen and (max-width: 400px) {
  .my-nav-text {
   font-size: 0.9rem;
   margin-right: 0;
  }
  .my-page-container {
    margin-left: 0;
    margin-right: 0;
  }
 }